:root {


    --primary-color: #283044;
    --color-secondary: #708933;
    --color-accent: #c44536;
    --color-gray: #dfe0e3;
    --color-white: #fff;
    --color-yellow: #f9c22e;

    --color-text: #161a22;

    --font-IRAN-yekan-x: "IRANYekanX-Regular";
    --font-IRAN-yekan-x-medium: "IRANYekanX-Medium";
    --font-IRAN-yekan-x-light: "IRANYekanX-Light";
    --font-IRAN-yekan-x-bold: "IRANYekanX-Bold";
    --font-IRAN-yekan-x-black: "IRANYekanX-Black";
    --font-IRAN-yekan-x-extra-bold: "IRANYekanX-ExtraBlack";
    --border-radius: .8em .8em .8em .8em;




    /* slider before box-shadow color gradient */

    /**
    *
    * helper to make color  for before box-shadow
    *   
    * first of all add color you  need like #cac531 and 
    * for second parameter  add first color and
    * add two zero to end like #cac53100  for opacity
    * 
    *
   */
    --box-shadow-yellow: linear-gradient(180deg, #cac531 0%, #f3f9a700 100%);
    --box-shadow-purple: linear-gradient(180deg, #7d2d7d 0%, #7d2d7d00 100%);
    --box-shadow-green: linear-gradient(180deg, #697b05 0%, #697b0500 100%);
    --box-shadow-orange: linear-gradient(180deg, #ffa500 0%, #ffa50000 100%);


}


/**
*
--config
*
*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: var(--font-IRAN-yekan-x);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--color-white);
    scroll-behavior: smooth;
    position: relative;
}



/**
*
--helper
*
*/

.hidden {
    display: none;
}

.loader-animation {
    border: .8rem solid #f3f3f3;
    border-top: .8rem solid var(--primary-color);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--color-white);
    border-radius: 1.5rem;
    font-weight: 400;
    font-size: 1.9rem;
    text-decoration: none;
    transition: background .5s ease-in-out;
    cursor: pointer;
    text-align: center;
    width: 17.2rem;
    height: 5.2rem;
}

.btn:hover {
    background-color: var(--color-secondary);
}

.btn--no-bg {
    font-size: 1.9rem;
    text-decoration: none;
    color: var(--primary-color);
    background-color: transparent;
    transition: background .5s ease-in-out;
}

.btn--no-bg:hover {
    color: var(--color-secondary);
}

.arrow-icon {
    margin-right: 1rem;
    fill: var(--color-white);
    width: 3.2rem;
    height: 3.3rem;
}

.full-h {
    height: 100vh;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-item-start {
    align-items: flex-start;
}

.slider-margin-top {
    margin-top: calc(100vh - 685px);
}

.m-t-4 {
    margin-top: 4rem;
}



/**
*
* ---header
*
*/

.header {
    position: absolute;
    top: 0;
    z-index: 99999999;
    right: 0;
    left: 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 0;
    font-family: var(--font-IRAN-yekan-x-light);
    font-size: 1.7rem;
}

.header-logo {
    width: 7.9rem;
    height: 3.4rem;
}

.header-logo__img {
    width: 100%;
}

.header-menu {}

.main-nav {
    display: flex;
    gap: 2rem;
}

.main-nav__item {}

.main-nav__item__link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.main-nav__item__link:hover {
    color: var(--color-text);
}

.toolbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0rem 1.2rem 4.8rem 0rem rgba(0, 0, 0, 0.07);
    padding: 1.4rem;
    border-radius: var(--border-radius);
}

.toolbar__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

}

.toolbar-menu-icon {
    display: none;
    cursor: pointer;
    width: 8.2rem;
    height: 8.2rem;
    justify-content: center;
    align-items: center;
}

.toolbar-menu-icon__line {
    width: 5rem;
    height: .5rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    position: relative;
}

.toolbar-menu-icon__line::before {
    top: -1.2rem;
    width: 2rem;
}

.toolbar-menu-icon__line::after {
    top: 1.2rem;
    width: 2rem;
    left: 0;
}

.toolbar-menu-icon__line::before,
.toolbar-menu-icon__line::after {
    content: '';
    position: absolute;
    height: .5rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
}

.toolbar-nav {
    font-family: var(--font-IRAN-yekan-x-medium);
    font-size: 1.7rem;
}

.toolbar-nav__list {
    display: flex;
    gap: 2rem;
}

.toolbar-nav__list__item {}

.toolbar-nav__list__item__link {
    color: var(--color-text);
    text-decoration: none;
}

.toolbar-nav__list__item__link:hover {
    color: var(--color-secondary);
}

.toolbar__center {
    display: none;
}

.toolbar-logo {}

.toolbar-logo__img {
    width: 12.7rem;
    height: 5.7rem;
}

.toolbar__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.search {
    display: flex;
    position: relative;
    margin-left: 1.1rem;
}

.search__bar {
    height: 4.8rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    position: relative;
}

.search__bar__input {
    background-color: var(--color-gray);
    border: none;
    outline: none;
    color: var(--color-text);
    font-family: var(--font-IRAN-yekan-x);
    width: 38.4rem;
    height: 100%;
    padding: 0 1.5rem;
}

.search__bar__btn {
    border: none;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 6.3rem;
    padding: 0 1.1rem;
    cursor: pointer;
}

.search__bar__btn__icon {
    transform: scale(1.6);
    fill: var(--primary-color);
}

.search__loading {
    position: absolute;
    right: 0;
    top: 6.7rem;
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    font-size: 1.2rem;
    text-align: center;
    visibility: hidden;
    padding: 1.9rem 1.5rem;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--color-gray);
    font-family: var(--font-IRAN-yekan-x-medium);
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__loading.open {
    opacity: 1;
    visibility: visible;
    max-height: 7rem;
    width: 100%;
}

.search__results {
    position: absolute;
    right: 0;
    top: 6.7rem;
    max-width: 100%;
    padding: 1.9rem 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--color-gray);
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.search__results.open {
    opacity: 1;
    visibility: visible;
    max-height: 44rem;
}

.search__results__header {}

.search__results__header__count {
    font-family: var(--font-IRAN-yekan-x-black);
    font-size: 1.9rem;
    text-decoration: none;
    color: var(--primary-color);
}

.search__results__list {
    margin: 1rem 0;
    height: 27.3rem;
    overflow: hidden;
}

.search__results__list__card {
    display: flex;
    padding: 1rem 0.5rem;
    background-color: var(--color-white);
    box-shadow: 0rem 1.2rem 4.8rem 0rem rgba(0, 0, 0, 0.07);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--primary-color);
}

.search__results__list__card:last-child {
    margin-bottom: 0;
}

.search__results__list__card__thumbnail {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__results__list__card__thumbnail__img {
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: contain;
    border-radius: var(--border-radius);
    border: solid .1vw #00000010;
}

.search__results__list__card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1rem;
}

.search__results__list__card__content__title {
    max-width: 33rem;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    font-family: var(--font-IRAN-yekan-x-bold);
    font-weight: 600;
    line-height: 1.6rem;
}

.search__results__list__card__content__description {
    max-width: 33rem;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-family: var(--font-IRAN-yekan-x-medium);
    font-weight: 500;
    line-height: 1.4rem;
    max-height: 3.8rem;
    overflow: hidden;
}

.search__results__list__card__content__price {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 1.1rem;
    font-weight: 600;
}

.search__results__list__card__content__rating {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 1.1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.search__results__footer {
    background: var(--primary-color);
    text-align: center;
    border-radius: var(--border-radius);
}

.search__results__footer:hover {
    background-color: var(--color-secondary);
}

.search__results__footer__btn {
    font-family: var(--font-IRAN-yekan-x-light);
    font-size: 2.1rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 2rem 0;
    display: block;
}

.basket,
.account {
    width: 4.8rem;
    height: 4.8rem;
    background-color: #F2F2F3;
    text-align: center;
    margin-left: .5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    position: relative;
}

.account {
    margin-left: 0;
}

.basket:hover,
.account:hover {
    background-color: var(--color-secondary);
}

.basket__link {}

.basket__link__icon,
.account__link__icon {
    fill: var(--primary-color);
    transform: scale(1.6);
}

.basket:hover .basket__link__icon,
.account:hover .account__link__icon {
    fill: var(--color-white);
}

.basket__badge {
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    background-color: var(--color-accent);
    color: var(--color-white);
    padding: .4rem .8rem;
    text-align: center;
    border-radius: var(--border-radius);
    font-family: var(--font-IRAN-yekan-x-extra-bold);
    font-size: 1.7rem;
}

.account__link {}

.mobile-nav {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 1rem;
    background-color: var(--color-white);
    z-index: 9999;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.mobile-nav--open {
    transform: translateX(0);
}

.mobile-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav__header__logo {
    width: 21.4rem;
    height: 9.2rem;
}

.mobile-nav__header__logo__img {
    width: 100%;
}

.mobile-nav__header__close-icon {
    background-color: var(--white);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mobile-nav__header__close-line {
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    position: relative;
}

.mobile-nav__header__close-line::before,
.mobile-nav__header__close-line::after {
    content: '';
    position: absolute;
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
}

.mobile-nav__header__close-line {
    background-color: transparent;
}

.mobile-nav__header__close-line::before {
    top: -0.8rem;
    transform: translateY(.8rem) rotate(45deg);
}

.mobile-nav__header__close-line::after {
    top: 0.8rem;
    transform: translateY(-.8rem) rotate(-45deg);
}

.mobile-nav__search .search {
    display: flex;
    margin: 2rem 0;
}

.mobile-nav__wrapper {}

.mobile-nav__wrapper__menu {}

.mobile-nav__wrapper__menu__item {
    padding: 1.3rem 2rem;
    font-size: 1.6rem;
    font-family: var(--font-IRAN-yekan-x);
    font-weight: 400;
    line-height: 2rem;
}

.mobile-nav__wrapper__menu__item__link {
    color: var(--primary-color);
    text-decoration: none;
}

/**
*
*  ---Main
*
*/

.main {}

.slider-section {}

.swiper {
    height: 100vh;
}

.swiper-wrapper {}

.swiper-slide {
    overflow: hidden;
}

.slide-wrapper {
    position: relative;
    height: 100%;
}

.slide-wrapper::before {
    content: '';
    position: absolute;
    width: 33.5vw;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background: var(--box-shadow-color);
}

.slide-wrapper__content {
    max-height: 100%;
}

.slide-wrapper__content__info {
    max-height: 100%;
}

.slide-content {
    max-height: 70%;
    max-width: 100%;
}

.slide-content__title {
    font-family: var(--font-IRAN-yekan-x-black);
    font-size: 4.8rem;
    color: var(--primary-color);
    line-height: 5.8rem;
    font-weight: 900;
}

.slide-content__title__heading {
    position: relative;
    z-index: 2;
}

.slide-content__title__highlight-strong {
    position: relative;
}

.slide-content__title__highlight-strong::before {
    content: '';
    background-color: var(--color-yellow);
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 13rem;
    height: 2rem;
    padding: 0;
    z-index: -1;
}

.slide-content__title__highlight-bold {
    color: var(--color-secondary);
}

.slide-content__description {
    font-family: var(--font-IRAN-yekan-x-light);
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 300;
    line-height: 4.8rem;
    padding-top: 5rem;
}

.slide-content__description__text {}

.slide-content__btn {
    display: flex;
    gap: 2.68rem;
    padding-top: 5rem;
}

.slider-img-wrapper {
    width: 100%;
    max-width: 100%;
    height: 70%;
}

.slider-img-wrapper__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 3;
    object-fit: contain;

}

.slide-wrapper__content__pattern {
    position: absolute;
    top: 20rem;
    right: 0;
    height: 100%;
    z-index: -1;
    max-width: 100rem;
    max-height: 100rem;
}

.slide-wrapper__content__pattern__img {
    transform: rotate(354deg) translateY(-128px) translateX(254px);
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    margin-bottom: 4rem;
}

.swiper-pagination-bullet {
    width: 2rem !important;
    height: 2rem !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

/**
*
*   ---trusts
*
*/

.trusts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 12rem;
    right: 0;
    z-index: 1;
}

.trusts__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 27px 21px;
    background-color: var(--color-white);
    box-shadow: 0rem 1.2rem 4.8rem 0rem rgba(0, 0, 0, 0.07);
    border-radius: var(--border-radius);
    transition: transform .5s ease-in-out;
}

.trusts__box:hover {
    transform: translateY(-1.5rem);
}



.trusts__box__icon {
    width: 7.3rem;
    height: 7.3rem;
}

.trusts__box__icon__logo {}

.trusts__box__info {
    width: 24.6rem;
    height: 5.1rem;
}

.trusts__box__info__title {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 2.1rem;
    margin-bottom: .8rem;
}

.trusts__box__info__description {
    font-family: var(--font-IRAN-yekan-x);
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.5rem;
}

/**
*
* headline
*
*/

.headline {}

.headline__wrapper {
    display: flex;
    justify-content: space-between;
}

.headline__wrapper__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline__wrapper__title {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.headline__wrapper__link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-family: var(--font-IRAN-yekan-x);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: .2rem solid var(--primary-color);
    border-radius: .5rem;
    padding: .6rem 2.4rem;
}

.headline__wrapper__link__icon {}

.headline::after {
    content: '';
    display: block;
    margin: 1.6rem auto;
    width: 80%;
    height: 0.5rem;
    background: #cac531;
    background: radial-gradient(circle, #cac531 0%, #d6d6d400 100%);
}

/**
*
*   ---new-product
*
*/

.new-product {
    padding: 2rem 0;
}

.product-card {
    padding: 1rem;
    border: 1px solid var(--color-gray);
    box-shadow: 0rem 1.2rem 4.8rem 0rem rgba(0, 0, 0, 0.07);
    border-radius: var(--border-radius);
    max-width: 33rem;
    margin: 0;
}

.product-card__header {
    max-width: 32rem;
    height: 35rem;
    position: relative;
}


.product-card__header__img {
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: contain;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: 0.5rem 0.5rem 1.2rem #8381811a, -.5rem -.5rem 1.2rem #cccaca4d;
}

.product-card__header__discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 2.3rem;
    border-radius: .3rem;
    text-align: center;
    margin: auto;
    background-color: var(--color-accent);
    color: var(--color-gray);
    font-family: var(--font-IRAN-yekan-x);
    font-size: 1.5rem;
}

.product-card__body {}

.product-card__body__title {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 2.2rem;
    color: var(--primary-color);
}

.product-card__footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__footer__status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-card__footer__status__price {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 2rem;
    color: var(--primary-color);
}

.product-card__footer__status__latest-price {
    font-family: var(--font-IRAN-yekan-x);
    font-size: 1.7rem;
    color: var(--color-accent);
    text-decoration: line-through;
}

.product-card__footer__status--no-qty {
    color: var(--color-accent);
}

.product-card__footer__actions {}

.product-card__footer__actions__icon {
    width: 5rem;
    height: 5rem;
    border-radius: var(--border-radius);
}

.product-card__footer__actions__add {
    background-color: var(--primary-color);
    fill: var(--color-white);
}

.product-card__footer__actions__add--active {
    background-color: var(--color-gray);
}

.product-card__footer__actions__like {
    background-color: #e4bac873;
    stroke-width: 1;
    stroke: var(--color-accent);
}

.product-card__footer__actions__like--active {
    fill: var(--color-accent);
}

/**
*
*   ---banner
*
*/

.banner {}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    height: 18rem;
    border-radius: var(--border-radius);
}

.banner__info {
    padding: 0 2rem;
}

.banner__info__title {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 2.2rem;
    color: var(--primary-color);
}

.banner__info__description {
    font-family: var(--font-IRAN-yekan-x);
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 1rem 0 2rem 0;
}

.banner__file {
    width: 42rem;
    height: 33.8rem;
}

.banner__file__img {
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
}

/**
*
*   ---comment
*
*/

.comments {}

.comments-card {
    box-shadow: 0rem 1.2rem 4.8rem 0rem rgba(0, 0, 0, 0.07);
    border-radius: var(--border-radius);
}

.comments-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.comments-card__header__social {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.comments-card__header__open-in {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.comments-card__body {
    padding: 2rem 1rem;
    width: 33rem;
    line-height: 3rem;
    text-align: justify;
}

.comments-card__body__comment {
    font-family: var(--font-IRAN-yekan-x-light);
    font-size: 1.8rem;
}

.comments-card__line {
    display: block;
    width: 96%;
    background-color: var(--color-gray);
    height: .3rem;
    margin: auto;
}

.comments-card__footer {

    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comments-card__footer__profile {
    width: 5rem;
    margin-left: 2rem;
}

.comments-card__footer__profile__img {
    width: 100%;
    border-radius: 100%;
}

.comments-card__footer__info {}

.comments-card__footer__info__username {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 1.6rem;
}

.comments-card__footer__info__datatime {
    font-family: var(--font-IRAN-yekan-x);
    font-size: 1.3rem;
}



/**
*
*   ---weblog
*
*/

.weblog {}

.weblog-card {
    box-shadow: 0rem 1.2rem 4.8rem 0rem rgba(0, 0, 0, 0.07);
    border-radius: var(--border-radius);
    width: 33rem;
    padding: 1.2rem;
}

.weblog-card__header {}

.weblog-card__header__img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.weblog-card__body {}

.weblog-card__body__title {
    font-family: var(--font-IRAN-yekan-x-bold);
    font-size: 1.8rem;
}

.weblog-card__body__info {
   margin: 2rem 0;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.weblog-card__body__info__data-release {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    padding: .9rem;
    margin-left:.7rem ;
}

.weblog-card__body__info__data-release__icon {
    fill: #e66759;
    margin: 0 .2rem;
}

.weblog-card__body__info__username {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: .9rem;
}

.weblog-card__body__info__username__icon {
    fill: #4c4d4e;
    margin: 0 .2rem;
}

.weblog-card__body__description {
    font-family: var(--font-IRAN-yekan-x-light);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.weblog-card__footer {
    display: flex;
    justify-content: flex-end;
}

.weblog-card__footer__link {}