@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {

    /**

    ---toolbar

    */
    .header__nav {
        display: none;
    }

    /**

    ---toolbar

    */
    .toolbar {
        background: #ffffff50;
        backdrop-filter: blur(30px);
    }

    .toolbar__right {
        flex: 1;
    }

    .toolbar-menu-icon {
        display: flex;
    }

    .toolbar-nav {
        display: none;
    }

    .toolbar__center {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .toolbar__left {
        flex: 1;
    }

    .search {
        display: none;
    }

    .basket,
    .account {
        width: 8.7rem;
        height: 8.7rem;
    }

    .basket__badge {
        border-radius: 100%;
        padding: 0.9rem;
        width: 50%;
    }
}

@media screen and (max-width:576px) {}